<div class="blog-header">
  <h1 class="blog-title">Listing Articles</h1>
  <p><%= link_to 'New article', new_article_path, class: 'btn btn-success' %></p>
</div>

<div class="row flex">
  <% @articles.each do |article| %>
  <div class="col-sm-4 blog-main">

    <div class="blog-post">
      <h2 class="blog-post-title"><%= article.title %></h2>
  
      <p class="blog-post-meta"><%= article.created_at.to_s(:created_on) %> by <%= article.user.email.split('@')[0].capitalize %></p>
  
      <p><%= truncate(article.text, length: 20, omission: '...') %> <%= link_to 'Read more', article %></p>
    </div><!-- /.blog-post -->
  
  </div>
  <% end %>
</div>