<div class="blog-header">
	<div class="row">
		<div class="col-md-8">
		  <div class="blog-title">
			  <%= @article.title %>
		  </div>
		  <h3>
		  	Author: <%= @article.user.email.split('@')[0].capitalize %>
		  </h3> 
			<p>
			  <%= @article.text %>
			</p>
			<p>
				<%= image_tag @article.image.url(:medium) %>
			</p>
			<h4><%= @article.address %></h4>
			<div id="map-canvas"></div>
			<hr>
			<% if current_user == @article.user %>
			<p>
			<%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-warning' %>
			<%= link_to 'Destroy', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
			</p>
			<% end %>
		</div>
		<div class="col-md-4">
			<h2>Comments</h2>
			<%= render @article.comments %>
			<% if user_signed_in? %>
			<h2>Add a comment:</h2>
			<%= render 'comments/form' %>
			<% end %>
		</div>
	</div>
</div>
<%= javascript_tag do %>
	latitude = '<%= j @article.latitude.to_s %>';
	longitude = '<%= j @article.longitude.to_s %>';
<% end %>